@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.cdnfonts.com/css/poppins');

:root{
    --maincolor:#363062;
    --secondarycolor:#7E8A97;
    --beige: #CBAF87;
    --darkblue:#2B2F44;
}
*{
    font-family: 'Inter', sans-serif;
    color: var(--maincolor);
    margin: 0;
}
button{
    cursor: pointer;
}
input:focus {
    outline: none;
    border-color: var(--secondarycolor);
}
/*--- Nav Bar ---*/

.nav-content {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.nav-content::-webkit-scrollbar {
    display: none;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 20px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;

}
.nav-bar li{
    margin-right:30px ;
    text-decoration: none;
    width: fit-content;
}
.nav-bar li a{
    text-decoration: none;
    color: var(--secondarycolor);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-wrap: nowrap;
}
.nav-bar h2{
    color: var(--maincolor);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    letter-spacing: 0.2px;
}
.nav-bar h2 span {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
}
.nav-content>div{
    display: flex;
}
.nav-bar button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 8px;
    border: none;
}
.nav-bar .login-btn{
    color: #CBAF87;
    width: 62px;
    background-color: Transparent;
    margin-right: 30px;
}
.nav-bar .signup-btn{
    background-color: var(--beige);
    width: 100px;
    border-radius: 5px;
    color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}

.popup-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
    z-index: 1000;
    border-radius: 5px;
    width: 350px;

}
.popup-content h1{
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: var(--beige);
    text-decoration-thickness: 2px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.popup-content form{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.popup-content input {
    padding: 10px;
    border: 2px solid var(--maincolor);
    border-radius: 5px;
    margin: 10px 0 ;
}
.popup-content button{
    background-color: var(--darkblue);
    color: white;
    padding: 10px 5px;
    margin: 20px 20px;
    border: none;
    border-radius: 7px;
}
.popup-content p{
    text-align: center;
    line-height: 30px;
}
.popup-content a{
    color: #7E8A97;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;

}

/* Side bar */
.logo-list {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
}

.side-bar-container .logo-list {
    margin-top: 20px;
    margin-left: 20px;
    display: block;
}
.side-bar-container {
    position: fixed;
    z-index: 20;
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
    width: 25%;
    min-width: 250px;
    transform: translateX(0%);
    overflow: hidden;
}
.link-container-side {
    display: flex;
    flex-direction: column;
}
.link-container-side a {
    text-decoration: none;
    color: var(--secondarycolor);
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.5s;
}
.link-container-side a:hover {
    color: var(--maincolor);
}

/*--- Overlay ---*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 15;
    display: none;
}

/*--- Home ---*/
.Main-Container {
    display: flex;
    flex-direction: column;
}
.home-container {
    margin-left: 60px;
    /* margin-top: 40px; */
    margin-bottom: 150px;
    height: 336px;
    display: flex;
    justify-content: space-around;
}
.home-container svg{
    position: absolute;
    right: 20px;
    top: 357px;
    z-index: -1;
}
.home-container-description-img{
    width: 470px !important;
    height: 520px !important;
    /* position: absolute; */
    /* top: 70px; */
    right: 90px;
}
.featured-description {
    width: 520px;
    width: 563px;
    color: #7E8A97;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    height: 648px;
    line-height: normal;
    margin-left: 5px;
    padding-top: 60px;
}

.featured-description h1 {
    color: var(--maincolor);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.featured-description h1:first-child {
    color: var(--maincolor);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.featured-description p {
    font-size: 16px;
}
.titles-div {
    margin-bottom: 40px;
}
.titles-div h1{
    margin-bottom: 15px;
}
.get-started-btn {
    display: flex;
    width: 120px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #7E8A97;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 5px;
}
.details-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 880px;
    height: 100px;
    background-color: #CBAF87;
    right: 32px;
    top: 410px;
    border-radius: 18px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.48);
    box-shadow: -3px 2px 19.4px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(14.25px);
    padding: 8px;
}
.details-div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
}
.details-div div h1 {
    font-size: 50px;
    font-family: 'Montserrat', 'sans-serif';
    margin-bottom: 5px;
    color: #2B2F44;
}
.details-div div p {
    font-size: 15px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    color: #7E8A97;
}
/* Medical Service Section */
.Medical-Service {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.Medical-service-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    position: relative;
    flex-wrap: wrap;

}
.Medical-service-section svg {
    position: absolute;
    left: -20px;
    bottom: -160px;
    z-index: -1;
}
.Medical-Service h1 {
    margin-bottom: 40px;
    font-weight: 100;
}
.Medical-Service h1 span {
    text-decoration: underline 0.5px;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
    font-weight: 700;
    color: #2B2F44;
}
.Service-container {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 480px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 18px;
    border: 0.469px solid rgba(255, 255, 255, 0.50);
    background: #FFF;
    box-shadow: -3px 2px 19.4px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(14.25px);
    margin-bottom: 40px;
}
.Service-container > p {
    color: #7E8A97;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    margin: 0px 20px;
}
.image-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-title-img {
    height: 220px;
    flex-shrink: 0;
    margin-bottom: 10px;
}
.image-title-title {
    color: #363062;
    font-family: 'Poppins','sans-serif';
    font-size: 22px;
    font-weight: 900;
}
.Upload-img-btn {
    display: flex;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #7E8A97;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: 'Poppins' , 'sans-serif';
}
/* Experts-Dermatologists */
.Expert-Dermatologists {
    margin-top: 25px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Expert-Dermatologists > h1 {
    font-weight: 100;
    margin-bottom: 40px;
}
.Expert-Dermatologists h1 span {
    text-decoration: underline 0.5px;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
    font-weight: 700;
    color: #2B2F44;
}
.Expert-container {
    width: 200px;
    position: relative;
}
.Derms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    overflow-x: scroll;
    padding-bottom: 20px;
    flex-wrap: nowrap;
}
.Derms-container::-webkit-scrollbar {
    display: none;
}
.dr-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 200px;
    border-radius: 10px 10px 15px 15px;
    /* background-color: var(--beige); */
}
.dr-img-container img {
    width: 200px;
    height: 305px;
}
.dr-name-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    align-items: center;
    background: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0 0 15px 15px;
}
.dr-name-container p {
    font-size: 15px;
    font-family: 'Poppins' , 'sans-serif';
}
.derm-background {
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #E7DEC8;
    z-index: -1;
    top: 60px;
    border-radius: 15px 15px 0 0;
}
/* --- risk prediction --- */
.risk-prediction-form{
    display: flex;
    flex-direction: column;
}
.risk-prediction-form button{
    margin: 30px auto;
    padding: 12px 25px;
    color: white;
    background-color: #7E8A97;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.risk-prediction h2{
    margin: 0 15px;
}
.risk-prediction{
    width: 100%;
}
.risk-prediction h1 , .risk-prediction>p{
    text-align: center;
}
.risk-prediction-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.risk-prediction>div{
    margin-bottom: 70px;
}
.risk-prediction>div p{
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
}
.risk-prediction-container .circle{
    width: 76px;
    height: 77px;
    border-radius: 50%;
    margin-right: 15px;
    background: var(--darkblue);
}
.risk-prediction-container .circle h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0;
    height: 70%;
}
.risk-prediction h2{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
    margin-left: 80px;
    margin-bottom: 35px;
}
.risk-prediction-container .section{
    display: flex;
    align-items: center;
    height: 140px;
}
.risk-prediction-container .question{
    display: flex;
    flex-direction: column;
}
.risk-prediction-container .section p {
    color: var(--maincolor);
    font-size: 22px;
    font-weight: 700;
    width: 40vw;
    margin: 15px 0;
}
/* risk-prediction-result */
.risk-prediction-result{
    padding: 20px 40px;
}
.risk-prediction-result h2{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);    
}
.risk-prediction-result p{
    margin: 20px 0 ;
}
.results-div{
    display: flex;
    justify-content: center;
}
/* result_container */
.result_container{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
}
.result_container p , .result_container div , .risk-prediction ul{
    padding: 7px 15px;
}
.result_container p{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);    
}
.result_container .score{
    background-color: var(--maincolor);
    color: white;
    padding: 17px;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.result_container li{
    margin: 30px;
}

/* Contact Us */

.contact-us-title {
    font-weight: 100;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}
.contact-us-title span {
    text-decoration: underline 0.5px;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
    font-weight: 700;
    color: #2B2F44;
}
.contact-us-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-us-container input, .contact-us-container textarea {
    border: var(--maincolor) solid 2px;
    padding: 20px;
    border-radius: 12px;
}
.contact-us-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}
.contact-us-container .email-input, .contact-us-container .txt-area-msg {
    width: 90%;
}
.txt-area-msg {
    resize: none;
}
.name-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.name-container input {
    width: 40%;
}
.name-container input:nth-child(1) {
    width: 39%;
    margin-left: 6px;
}

.name-container input:nth-child(2) {
    width: 39%;
    margin-right: 6px;
}
.send-btn {
    width: 98%;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    background-color: var(--darkblue);
    color: white;
    height: 50px;
    font-size: 1.5rem;
}
.contact-us-container img {
    margin-left: 5%;
    width: 392px !important;
    height: 433px !important;
}

/* Terms and Condition, Privacy Policy, FAQs, Article */

.terms-and-conditions-container,
.privacy-policy-container,
.faqs-container,
.article-container {
    margin: 50px 15%;
}
.terms-and-conditions-container h1 span,
.privacy-policy-container h1 span,
.faqs-container h1 span,
.article-container h1 span{
    text-decoration: underline 0.5px;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
    font-weight: 700;
    color: #2B2F44;
}
.terms-and-conditions-container h1,
.privacy-policy-container h1,
.faqs-container h1,
.article-container h1 {
    margin-bottom: 30px;
    text-align: center;
}
.terms-and-conditions-container h2,
.privacy-policy-container h2,
.faqs-container h2,
.article-container h2 {
    margin-bottom: 10px;
    font-size: large;
}
.article-container h3 {
    margin-bottom: 10px;
    font-size: medium;
}
.article-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-bottom: 20px;
}
.terms-and-conditions-container p,
.privacy-policy-container p,
.faqs-container p,
.article-container p {
    margin-bottom: 20px;
}
.privacy-policy-container ul, .faqs-container ul {
    margin-bottom: 20px;
}


/* admin */
.admin-container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
}
.admin-container >div{
    display: flex;
    flex-direction: column;
}
.admin-container>div button{
    width: fit-content;
    float:right;
}
.admin-container .image-container , .admin-container .placeholder{
    height: 100px;
}
.admin-container edit_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 2px;
    height: 40px;
    width: 85px;
    border: none;
    background: var(--secondarycolor);
    border-radius: 20px;
    cursor: pointer;
}
  
  .admin-container .edit_btn:hover {
    background: #e7e6e6;
  }
  
  .admin-container .edit_btn:hover .svg-icon {
    animation: lr 1s linear infinite;
  }
  
  @keyframes lr {
    0% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(-1px);
    }
  
    75% {
      transform: translateX(1px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
.admin-container table {
    flex: 1;
    /* max-width: calc(50% - 20px); */
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 
    border-spacing: 0; 
}

.admin-container thead tr {
    background-color: var(--maincolor); 
}

.admin-container th {
    padding: 12px 15px;
    text-align: left;
    color: #ffffff; /* Set text color to white */
}

.admin-container td {
    padding: 12px 15px;
    text-align: left;
    text-wrap: wrap;
    width: 103px;
}

.admin-container tbody {
    max-height: calc(100vh - 200px); 
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.admin-container tbody::-webkit-scrollbar {
    width: 0;
}

.admin-container tbody tr {
    border-bottom: 1px solid #dddddd;
}

.admin-container tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.admin-container table button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(100, 77, 237, 0.08);
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.admin-container table button:hover {
    background-color: rgba(100, 77, 237, 0.2);
    color: #333333;
}

.admin-container form {
    flex: 1;
    /* max-width: calc(50% - 20px);  */
    /* margin-left: 20px;  */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.admin-container .containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 20px; */

}
.admin-container .containers>*{
    /* flex: 1 1 ; */
    /* display: flex; */
    /* flex-direction: column; */
}

.admin-container form div:nth-child(4){
    /* display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin: 20px; */
}

.admin-container form input[type="text"],
.admin-container form input[type="date"],
.admin-container form input[type="time"],
.admin-container form input[type="tel"] {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.admin-container form .time-inputs {
    display: flex;
    justify-content: space-between;
}

.admin-container form button {
    padding: 10px 20px;
    background-color: var(--maincolor);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin: 20px auto;
}

.admin-container form button:hover {
    background-color: var(--secondarycolor);
}
.admin-container form label {
    margin: 10px; 
}
.admin-container form input[type="checkbox"]{
    width: 45px;
}
.admin-container form>label:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.admin-container form label input{
    margin: 5px ;
}
/* --- Call Now --- */
.call-now-main-container{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.call-now-main-container h1{
    color: var(--maincolor);
}

.call-now-main-container p{
    color: var(--secondarycolor);
}

.call-now-second-container h2{
    color: var(--maincolor);
}


.callnow-doctor-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
}

.doctor-julian {
    background-color: #eae4e4;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 300px;
}

.doctor-julian-img{
    width: 248px;
    height: 300px;
    margin-top: -68px;
}

.callnow-doctor-name{
    background-color: white;
    width: 280px;
    height: 85px;
    margin-left: -20px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 5;
    color: var(--maincolor);
    font-weight: bold;
}

.callnow-appointment{
    border: var(--maincolor);
    background-color: var(--maincolor);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 222px;
    height: 46px;
    border-radius: 10px;
    margin-top: 20px;
    /* margin-left: 30px;
    margin-top: 20px; */
    cursor: pointer;
}
.callnow-doctor-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
@media only screen and (min-width: 768px) {
    .call-now-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*  */

    .doctor-julian {
        width: 240px;
    }

    .callnow-Doctor1,
    .callnow-Doctor2,
    .callnow-Doctor3,
    .callnow-Doctor4 {
        margin: 20px; 
    }
}
/* add form */
.Addform-div{
    height: 60px;
}
.Addform-div button{
    margin: 0 !important;
}
.Addform-div label{
    font-size: 16px;
    display: inline-block;
}
.time-slots-container div{
    display: block;
    margin: 0;
}


/* my profile */
.My-Profile div{
    display: flex;
}

/* Calendar */ 
.Calendar .popup {
    position: absolute;
    background-color: white;
    width: 300px; 
    height: 200px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1001; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.Calendar .popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

/* Getchecked */
.Getchecked {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    align-items: center;
}
.Getchecked img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    margin: 0 auto;
}
.Getchecked .image_placeholder{
    background-color: var(--secondarycolor);
    height: 300px;
    width: 600px;
    position: relative;
}
.Getchecked .image_placeholder p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.Getchecked .buttons{
    margin-top: 20px;
    display: flex;
    width: 600px;
    justify-content: space-around;
}
.Getchecked .buttons button{
    background-color: var(--secondarycolor);
    border: none;
    padding:10px 15px;
    border-radius: 3px;
    color: white;
}
/* patient info */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 75px 0 75px 0;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 10px 0 10px 0;
}
.footer-div{
    display: flex;
    flex-wrap: wrap;
}
.footer h2{
    color: var(--maincolor);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 0.2px;
}
.footer h2 span {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: var(--beige);
}
.footer ul{
    list-style: none;
}
.footer-div {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}
.footer-div-container{
    display: flex;
}
.footer div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: -webkit-fill-available;
}
.footer div h4 {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: 'Poppins' , 'sans-serif';
    color: var(--maincolor);
    width: 100%;
    text-align: center;
}
.footer a {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
    text-decoration: none;
    color: var(--secondarycolor);
}
.link {
    margin-bottom: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icons-div {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.icons-div svg {
    margin-right: 20px;
}
.link svg  {
    margin-right: 10px;
}

/* Copy Right */

.Rights {
    width: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--secondarycolor);
    letter-spacing: 0.3px;
}



@media only screen and (min-width: 768px) {
    .call-now-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .callnow-doctor-list {
        justify-content: center;
        justify-content: space-between;
    }

    .doctor-julian {
        width: 240px;
    }

    .callnow-Doctor1,
    .callnow-Doctor2,
    .callnow-Doctor3,
    .callnow-Doctor4 {
        margin: 20px; 
    }
}


@media screen and (max-width: 1052px) {
    .nav-bar h2 {
        display:none;
    }
    .nav-bar ul{
        padding: 10px;
    }
    .nav-bar{
        padding: 20px 0 20px 10px;
    }
    .signup-btn {
        margin-right: 10px;
    }
    .details-div{
        /* display: none; */
    }
    .contact-us-container .home-container-description-img{
        display: none;
    }
}

@media screen and (max-width: 963px) {
    .details-div{
        display: none;
    }
    .home-container-description-img{
        display: none;
    }
    .footer h2{
        display: none;
    }
    .footer{
        flex-direction: column;
        height: fit-content;
    }
    .footer-div {
        display: flex;
        flex-direction: column;
    }
    .footer-div h4{
        text-align: left;
    }
    .footer-div > div{
        height: 170px;
    }
    .article-container img {
        width: 450px;
    }
    .nav-bar h2 {
        display: block;
        width: 85%;
    }
    .nav-content {
        display: none;
    }
    .logo-list {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .contact-us-container form {
        width: 350px;
    }
    .contact-us-container .email-input, .contact-us-container .txt-area-msg {
        width: 88%;
    }
    .txt-area-msg {
        resize: none;
    }
    .name-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .name-container input {
        width: 35%;
    }
    .name-container input:nth-child(1) {
        width: 35%;
        margin-left: 0px;
    }
    
    .name-container input:nth-child(2) {
        width: 35%;
        margin-right: -1px;
    }
    .send-btn {
        width: 98%;
        margin-top: 20px;
        border-radius: 12px;
        border: none;
        background-color: var(--darkblue);
        color: white;
        height: 50px;
        font-size: 1.5rem;
    }
    .terms-and-conditions-container, .privacy-policy-container, .article-container {
        margin: 50px 5%;
    }
    .article-container img {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .article-container img {
        width: 300px;
    }
}
@media only screen and (min-width: 768px) {
    .admin-container table thead tr th:nth-child(1) , .admin-container table tbody tr td:nth-child(1)  {
        display: none;
    }
    .call-now-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .callnow-doctor-list {
        justify-content: center;
        justify-content: space-between;
    } */

    .doctor-julian {
        width: 240px;
    }

    .callnow-Doctor1,
    .callnow-Doctor2,
    .callnow-Doctor3,
    .callnow-Doctor4 {
        margin: 20px; 
    }
}
@media screen and  (max-width: 1179px) {
    .admin-container table thead tr th:nth-child(7) , .admin-container table tbody tr td:nth-child(7)  {
        display: none;
    }
}

@media screen and  (max-width: 1052px) {
    /* .admin-container table thead tr th:nth-child(8) , .admin-container table tbody tr td:nth-child(8)  {
        display: none;
    } */
    .nav-bar h2 {
        display:none;
    }
    .nav-bar ul{
        padding: 10px;
    }
    .nav-bar{
        padding: 20px 0 20px 10px;
    }
    .signup-btn {
        margin-right: 10px;
    }
    .details-div{
        /* display: none; */
    }
    .contact-us-container .home-container-description-img{
        display: none;
    }
}

@media screen and (max-width: 963px) {
    .admin-container table thead tr th:nth-child(1) , .admin-container table tbody tr td:nth-child(1)  {
        display: none;
    }
    .admin-container table thead tr th:nth-child(3) , .admin-container table tbody tr td:nth-child(3)  {
        display: none;
    }
    .details-div{
        display: none;
    }
    .home-container-description-img{
        display: none;
    }
    .footer h2{
        display: none;
    }
    .footer{
        flex-direction: column;
        height: fit-content;
    }
    .footer-div {
        display: flex;
        flex-direction: column;
    }
    .footer-div h4{
        text-align: left;
    }
    .footer-div > div{
        height: 170px;
    }
}

@media screen and (max-width: 600px) {

    .contact-us-container form {
        width: 350px;
    }
    .contact-us-container .email-input, .contact-us-container .txt-area-msg {
        width: 88%;
    }
    .txt-area-msg {
        resize: none;
    }
    .name-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .name-container input {
        width: 35%;
    }
    .name-container input:nth-child(1) {
        width: 35%;
        margin-left: 0px;
    }
    
    .name-container input:nth-child(2) {
        width: 35%;
        margin-right: -1px;
    }
    .send-btn {
        width: 98%;
        margin-top: 20px;
        border-radius: 12px;
        border: none;
        background-color: var(--darkblue);
        color: white;
        height: 50px;
        font-size: 1.5rem;
    }
    .terms-and-conditions-container, .privacy-policy-container {
        margin: 50px 5%;
    }
}